# OS
.DS_Store
__MACOSX
Thumbs.db

# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/data/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# Misc
*.tsbuildinfo
